<%- include('partials/head') %>
<body>
    <<%- include('partials/header') %>

    <section class="abautme-section">
        <div class="main-photo">
            <img src="/img/backphoto.png">
        </div>
        <div class="section-content">
            <h3>A short paragraph abaut me</h3>
            <p>Hi everyone, nice to meet you. I´m fullstack developer 
            with knowledge in back, front, databases and other technologies.
            i love new challenges, i´m an expert learner 
            and I like to work in a diverse team, 
            nothing can stop my desire to contribute with ideas or improve results.
            In this profile you can see my soft and hard skills and learn abaut my work.
            thank you for your time!!! 
            </p> 
        </div>
        
    </section>

    <%- include('partials/footer') %>
</body>
</html>