<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <section class="main-contact">
        <h3>contact with me :</h3>
        <div class="contact-list">
            <div class="contact-item">
                <i class="fa-brands fa-whatsapp"></i>
                <p>15-57330529</p>
            </div>
            <div class="contact-item">
                <i class="fa-brands fa-linkedin-in"></i>
                <p>https://www.linkedin.com/in/rodrigoscolnic/</p>
            </div>
            <div class="contact-item">
                <i class="fa-regular fa-envelope"></i>
                <p>rodrigoscolnic@gmail.com</p>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>