<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <section class="main-message">
        <img src="img/20220808_152132.jpg">
        <h2>Welcome to my profile</h2>
        <button>Download my CV</button>
    </section>

    <%- include('partials/footer') %>
</body>
</html>