<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <section class="main-message">
        <img src="img/20220808_152132.jpg">
        <h2>Welcome to my profile</h2>
        <a href="https://www.dropbox.com/s/vzz5xkzy7a0qzg1/cvRodigoScolnic_compressed%20%281%29.pdf?dl=0" download="RodrigoScolnicCV"><button>Download my CV</button></a>
    </section>

    <%- include('partials/footer') %>
</body>
</html>