<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <section class="main-skills">
        <div class="skills-card">
            <h3>Frontend</h3>
            <div class="skills-container">
                <div class="skill-item">
                    <img src="img/logo-react-icon.png" class="skill-logo">
                    <p>React.js</p>
                </div>
                <div class="skill-item">
                    <img src="img/html-css-logo.png" class="skill-logo">
                    <p>Html + Css</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-boostrap.png" class="skill-logo">
                    <p>Boostrap</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-js.png" class="skill-logo">
                    <p>Javascript</p>
                </div>
            </div>
        </div>
        <div class="skills-card">
            <h3>Backend</h3>
            <div class="skills-container">
                <div class="skill-item">
                    <img src="img/logo-js.png" class="skill-logo">
                    <p>Javascript</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-node.png" class="skill-logo">
                    <p>Node.js</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-express.png" class="skill-logo">
                    <p>Express</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-apis.png" class="skill-logo">
                    <p>Api Restful</p>
                </div>
            </div>
        </div>
        <div class="skills-card">
            <h3>Data</h3>
            <div class="skills-container">
                <div class="skill-item">
                    <img src="img/logo-sql.png" class="skill-logo">
                    <p>MySql</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-mongo.png" class="skill-logo">
                    <p>MongoDB</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-sequelize.png" class="skill-logo">
                    <p>Sequelize</p>
                </div>
            </div>
        </div>
        <div class="skills-card">
            <h3>Design</h3>
            <div class="skills-container">
                <div class="skill-item">
                    <img src="img/logo-photoshop.png" class="skill-logo">
                    <p>Photoshop</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-ilustrator.png" class="skill-logo">
                    <p>Ilustrator</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-canva.png" class="skill-logo">
                    <p>Canva</p>
                </div>
            </div>
        </div>
        <div class="skills-card">
            <h3>Testing</h3>
            <div class="skills-container">
                <div class="skill-item">
                    <img src="img/logo-postman}.png" class="skill-logo">
                    <p>Postman</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-thunderclient.png" class="skill-logo">
                    <p>ThunderCli</p>
                </div>
            </div>
        </div>
        <div class="skills-card">
            <h3>Other</h3>
            <div class="skills-container">
                <div class="skill-item">
                    <img src="img/logo-github-icon.png" class="skill-logo">
                    <p>GitHub</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-SCRUM-icon.png" class="skill-logo">
                    <p>SCRUM</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-VSC-icon.png" class="skill-logo">
                    <p>VSC</p>
                </div>
                <div class="skill-item">
                    <img src="img/logo-trello-icon.png" class="skill-logo">
                    <p>Trello</p>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>