<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <section class="main-work">
        <img src="img/UC.png">
    </section>

    <%- include('partials/footer') %>
</body>
</html>