<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <section class="main-work">
        <div class="work-card">
            <div class="work-img">
                <img src="/img/1stwork.jpg">
            </div>
            <div class="work-info">
                <div class="work-name">
                    <h2>AltaBurger</h2>
                    <p>e-commerce de hamburgesas</p>
                </div>
                <div class="work-links">
                    <a href="https://github.com/rodigoScolnic/AltaBurger"><i class="fa-brands fa-github" style="color: #292929;"></i></a>
                    <a href="https://alta-burger.onrender.com"><i class="fa-solid fa-globe" style="color: #1f66e0;"></i></a>
                </div>
            </div>
        </div>
        <div class="work-card">
            <div class="work-img">
                <img src="/img/2ndwork.jpg">
            </div>
            <hr>
            <div class="work-info">
                <div class="work-name">
                    <h2>Porfolio</h2>
                    <p>Mi porfolio personal</p>
                </div>
                <div class="work-links">
                    <a href="https://github.com/rodigoScolnic/porfolio"><i class="fa-brands fa-github" style="color: #292929;"></i></a>
                    <a href="https://porfolio-xe78.onrender.com"><i class="fa-solid fa-globe" style="color: #1f66e0;"></i></a>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>