<footer>
    <div class="logos">
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-github"></i></a>
    </div>
    <div class="copyright">
        <h4> © copyright by Rodrigo Scolnic </h4>
    </div>
</footer>