<header>
    <a href="/"><h1>RODRIGO SCOLNIC</h1></a>
    <h3>Fullstack Developer</h3>
    <hr>
    <nav>
        <ul>
            <a href="../abaut"><li><p>abautMe</p></li></a>
            <a href="../skills"><li><p>skills</p></li></a>
            <a href="../work"><li><p>work</p></li></a>
            <a href="../contact"><li><p>contact</p></li></a>
        </ul>
    </nav>
</header>